  body {
  background-color: #a3d5d3;
}
.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.containerDiv{
  height:200px;   
  border:1px solid;
  margin:5px 5px 5px 5px
}
draggableArea{
   width:100%;  
}
.droppableArea{
    width:48%; 
}
.containerDiv ul li{
  list-style:none;
  font-size:20px;
  border-bottom:1px solid gray;
}
.containerDiv ul li:hover{
  cursor:move
}
.defaulttext{
  border:none !important;
  text-align:center;
  color:#7d5c0d; 
  font-weight: bold;
}